<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="APPLICATIONFOLDER">
        <Directory Id="INSTALLLOCATION" Name="SMARTRM6">
            <Merge Id="SMARTRM6MM" SourceFile="$(var.SMARTRM6MM.TargetPath)" DiskId="1" Language="1033"/>
        </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id='APPLICATIONFOLDER' Value='[WindowsVolume][Manufacturer]' />
    
    <Feature Id="SMARTRM6" Title="SMARTRM6" Description="Installs all the files needed for SMARTRM6" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <MergeRef Id="SMARTRM6MM"/>
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Fragment>
</Wix>